@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
/* input[data-autocompleted] {
  background-color: transparent !important;
} */
input:-webkit-autofill {
  -webkit-text-fill-size: 2rem !important;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25rem; /* 20px */
  height: 1.25rem; /* 20px */
  border: 3px solid #7d828d; /* Gray-500 */
  border-radius: 0.3rem; /* Slightly rounded corners */
  background-color: white;
  display: inline-block;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #1e40af; /* Blue-800 */
  border: none;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.45rem; /* 6.4px */
  height: 0.9rem; /* 12.8px */
  border: solid white;
  border-width: 0 4px 4px 0;
}
